includes:
    - ./vendor/nunomaduro/larastan/extension.neon
    - ./vendor/phpstan/phpstan-mockery/extension.neon

parameters:
  paths:
    - src
    - tests
  level: 6
  checkMissingIterableValueType: false
  ignoreErrors:
  -
    message: "#Parameter \\#[0-9]+ \\$.+ of class .+ constructor expects .+, Mockery\\\\MockInterface given.#"
    paths:
      - tests/*
